<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="entry_form">
        <%= render 'shared/entry_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Entry Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Blog App</h1>

    <h2>
      Please sign up to make friend with everyone
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="row">
    <% if @users.any? %>
        <div class="users_index">
          <% @users.each do |user| %>
            <div class="user-profile">
              <span><%= link_to gravatar_for(user, size: 100), user %></span>
              <span><%= user.name %></span>
            </div> 
          <% end %>
        </div>
      <% end %>
  </div>  
<% end %>
