<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="title"><%= entry.title %></span>
  <span class="content"><%= entry.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <div class="comment-part">
     <div id="hidden-<%= entry.id %>">
          
     </div>
     <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= entry.id %>" aria-expanded="true" aria-controls="collapse<%= entry.id %>">
        <span class="comment-link">
           Comment <span id="comment-link-count-entry-<%= entry.id %>"><%= entry.comments.count %></span> 
        </span>
      </a> 
      <div id="collapse<%= entry.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= entry.id %>">
      <div class="panel-body">
          <div class="comment-show">
            <ol class="comments">
              <div id="comments-entry-<%= entry.id %>">
                <%= render entry.comments %>      
              </div>  
            </ol>
          </div>
      <div class="comment-editor">
        <% if logged_in? %>
          <%= form_for(@comment = entry.comments.build, remote: true) do |f| %>
            <div>
              <%= hidden_field :comment, :entry_id %>
              <%= hidden_field_tag :user_id, current_user.id %>  
            </div>
            <p>
              <br />
              <%= f.text_field :content %>
              <%= f.submit "Add comment", class: "btn btn-primary" %>  
            </p>  
            
          <% end %>
        <% end %>
      </div>
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= entry.id %>" aria-expanded="true" aria-controls="collapse<%= entry.id %>">
         <span id="shorter-<%= entry.id %>">Shorter</span>
      </a>
     </div>
     </div> 
  </div>  
</li>
